<section class='stock-day-container container'>
    <div class='row'>
        <div class='col-3'>
            <button class='prev-btn btn btn-primary' (click)="prevDay()">&lt;</button>
        </div>
        <div class='col-6 current-day'>Day {{ currentDay | number }}</div>
        <div class='col-3'>
            <button class='next-btn btn btn-primary' (click)="nextDay()">&gt;</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 current-date">
            {{ getDate() }}
        </div>
    </div>
</section>